.container {
  display: flex;
  flex-direction: row; /* Lays out the .col children side by side */
  width: 100%; /* Takes the full width of the viewport */
}

.col {
  flex: 1; /* Ensures each .col takes equal space */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers the content horizontally */
  align-items: center; /* Centers the content vertically */
}

/* Demo */
body {
  font-family: ui-sansserif, system-ui, sans-serif;
  /* margin: 0 auto; */
  /* max-width: 40rem; */
  /* padding: 1rem; */
}

header {
  color: #555;
  line-height: 1.7;
  margin-bottom: 2rem;
}

main {
  padding-bottom: 3rem;
}
